/* For mobile */

/* For desktop */
@media only screen and (min-width: 768px) {
  .bigger-top-container {
    display: flex;
    flex: 90%;
    margin: 11% 7% 4.25% 7% !important;
    /* max-width: 1400px !important; */
    justify-content: center !important;
    align-items: center !important;
  }

  .left-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 5px solid #44444499; */
    flex: 60%;
    padding-right: 5%;
  }
  .left-container > h3 {
    margin: 1%;
    font-size: 1.8rem;
    font-weight: 300;
  }
  .left-container > h3:last-of-type {
    margin-bottom: 2%;
  }
  .right-container {
    background-color: #8bccf9;
    border: 1px solid black;
    padding: 3rem;
    border-radius: 4%;
    margin-right: 6%;
  }
  .available {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: -3%;
  }
  .images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .stanford {
    position: relative;
    height: 25%;
    width: 25%;
  }
  .princeton {
    position: relative;
    top: -0.5rem;
    width: 37%;
    height: 37%;
  }
  .register.title {
    font-size: 140%;
    text-align: center;
    font-weight: 700;
  }
  .social-logins {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button {
    display: inline-block;
    white-space: nowrap;
  }
  .already {
    font-size: 1rem;
  }
  #header {
    font-weight: 700;
    font-size: 1.8rem;
  }
}
