@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: red;
  --secondary-color: blue;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.top-container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

/* Text Styles*/
.x-large {
  font-size: 4rem !important;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.larger {
  font-size: 3rem !important;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.large {
  font-size: 2rem !important;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.lead {
  font-size: 1.5rem !important;
  margin-bottom: 1rem;
}
.medium {
  font-size: 1rem !important;
  margin-bottom: 1rem;
}
.text-primary {
  color: var(--primary-color) !important;
}
.text-secondary {
  color: var(--secondary-color) !important;
}

/* Padding */
.p {
  padding: 0.5rem !important;
}
.p-1 {
  padding: 1rem !important;
}
.p-2 {
  padding: 2rem !important;
}
.p-3 {
  padding: 3rem !important;
}
.py {
  padding: 0.5rem 0 !important;
}
.py-1 {
  padding: 1rem 0 !important;
}
.py-2 {
  padding: 2rem 0 !important;
}
.py-3 {
  padding: 3rem 0 !important;
}

/* Margin */
.m {
  margin: 0.5rem !important;
}
.m-1 {
  margin: 1rem !important;
}
.m-2 {
  margin: 2rem !important;
}
.m-3 {
  margin: 3rem !important;
}
.my {
  margin: 0.5rem 0 !important;
}
.my-1 {
  margin: 1rem 0 !important;
}
.my-2 {
  margin: 2rem 0 !important;
}
.my-3 {
  margin: 3rem 0 !important;
}
.my-up {
  margin: 0.5rem 0 0 0 !important;
}
.my-up-1 {
  margin: 1rem 0 0 0 !important;
}
.my-up-2 {
  margin: 2rem 0 0 0 !important;
}
.my-up-3 {
  margin: 3rem 0 0 0 !important;
}
.my-down {
  margin: 0 0 0.5rem 0 !important;
}
.my-down-1 {
  margin: 0 0 1rem 0 !important;
}
.my-down-2 {
  margin: 0 0 2rem 0 !important;
}
.my-down-3 {
  margin: 0 0 3rem 0 !important;
}

/* Vertical Stripe */
.ui.vertical.stripe {
  padding: 8em 0em;
  justify-content: center;
  text-align: center;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
