body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px var(--primary-color);
  opacity: 0.7;
}
.grey {
  background: grey !important;
}
.navbar a {
  color: black;
  padding: 0.45rem;
  margin: 0 0.25rem;
}
.navbar .reg:hover {
  color: lightcoral;
}
.navbar h1 {
  font-size: 2.2rem;
}
.navbar li {
  color: #444;
  font-size: 1.2rem;
}
.navbar .current {
  color: red;
}
.navbar .signin {
  color: lightskyblue;
}

/* Landing Page */
.landing {
  position: relative;
  /* background: url("./img/landing_background.jpg") no-repeat center center/cover; */
  height: 100vh;
}

.chunk {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.blu {
  background: lightblue;
}

/* Vertical Stripe */
.ui.vertical.stripe {
  padding: 8em 0em;
  justify-content: center;
  text-align: center;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
