.group {
  padding: 50px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.group-container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group-member {
  /* min-width: 100px; */
  /* min-height: 100px; */
  /* border-radius: 50px; */
  /* margin: 20px 100px; */
  /* padding: 10px; */
  /* background-color: red; */
  margin: 30px 15px;
  min-width: 200px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.group-member-flex {
  display: flex !important;
  justify-content: center;
  align-items: flex-start;
}

.section-header {
  color: black;
}
