node_modules/
*package-lock.json
*default.json
.vs-code/
*config.json
*#*#
*~
client/build/*
client/build
.env
__pycache__

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
