.my-container {
  background-color: rgb(238, 247, 255);
  padding: 0rem 12rem 0rem 12rem;
}

.header {
  position: relative;
  padding-top: 10rem;
  color: black;
  font-family: "Alatsi";
  font-weight: 100;
}

@media only screen and (max-width: 768px) {
  .my-container {
    padding: 100px 6vw 0;
    margin: 0 0;
    background: #eee;
  }

  .header {
    padding-top: 15vh;
  }
}
