.triple-input {
  display: flex;
  padding-top: 20px;
}

.right-pad {
  padding: 15px;
  padding-left: 0px;
}

.pad {
  padding: 15px 0;
}

.category-button {
  background-color: #118AE6 !important;
  transition: 0.25s ease-out;
}
.category-button:hover {
  background-color: #118ae6c4 !important;
  transition: 0.25s ease-out;
}
.category-button.not-selected {
  background-color: #118AE600 !important;
  border: 1px #118AE6 solid;
  color: #118AE6 !important;
  transition: 0.25s ease-out;
}
.category-button.not-selected:hover {
  background-color: #118ae62a !important;
  transition: 0.25s ease-out;
  border: 1px #118ae694 solid;
  color: #118ae6ea !important;
}

@media only screen and (max-width: 1225px) {
  .triple-input {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .right-pad, .pad {
    padding: 0px 0;
  }

  .triple-input p {
    padding-top: 10px;
    margin: 7px 0;
  }

  .edit-profile-labels {
    margin: 2vh 0 0 !important;
  }

  .avatar-photo {
    padding-bottom: 5vh !important;
  }
}
