/* For mobile */

/* For desktop */
@media only screen and (min-width: 768px) {
  /* CreateProfile */
  /* EditProfile */
  .category-button {
    margin: 5px;
  }

  /* ExampleProfile */
  .lower {
    background-color: #ddeeff;
    width: 33rem;
    height: 8.5rem;
    border-radius: 10rem;
    border: 1px solid #707070;
    margin: 1.5rem;
  }

  .upper {
    background-color: #ddffed;
    width: 33rem;
    height: 8.5rem;
    border-radius: 10rem;
    border: 1px solid #707070;
    margin: 1.5rem;
  }

  .about {
    position: relative;
    top: -98%;
    left: 25.5%;
    text-align: left;
    width: 70%;
    font-size: 110%;
  }

  .circular-pic {
    position: relative;
    left: -2.5%;
    width: 8.4rem;
  }

  /* .name {
    position: relative;
    width: 15rem;
    top: -8.6rem;
    left: 48%;
    padding: 0.8%;
    margin: 0;
    font-size: 1.25rem;
  }
  .name.carina {
    left: 40%;
    width: 18rem;
  } */
}
