#profile-page {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#profile-page .left {
  /* background: blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 8rem 1rem 3rem 5rem;
  height: auto;
}
#profile-page .left .info {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  height: 25%;
  min-height: 200px;
  margin: 0;
  align-items: center; 
  background: #e3e3e3;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #aaa;
}
#profile-page .left .info .avatar {
  margin: 0;
  margin-left: 2rem;
  margin-right: 5rem;
  min-width: 125px;
  min-height: 125px;
}
#profile-page .left .info .basic-info {
  /* background: green; */
  display: flex;
  flex-direction: column;
  margin: 0rem;
  margin-right: 3rem;
}
#profile-page .left .info .basic-info .name {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}
#profile-page .left .info .basic-info .bio {
  font-size: 1.5rem;
}
#profile-page .left .about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-height: 250px;
  margin-top: 3rem;
  background: #e3e3e3;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #aaa;
}
#profile-page .left .about-section .about-header {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
#profile-page .left .about-section .about-paragraph {
  font-size: 1.5rem;
  margin: 0.5rem 4rem 3rem;
}

#profile-page .right {
  margin: 8rem 5rem 3rem 2rem;
  width: 40%;
  height: auto; 
}
#profile-page .right .also-viewed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#profile-page .right .also-viewed .similar-person {
  background: #e3e3e3;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #aaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 125px;
  width: 100%;
  cursor: pointer;
}
#profile-page .right .also-viewed .similar-person .avatar {
  margin: 0 1.75rem 0 0.5rem;
  padding: 0;
}
#profile-page .right .also-viewed .similar-person .name {
  font-size: 1.5rem;
  margin-right: 0.75rem;
}