/* CreateProfile */
/* EditProfile */
.category-button {
  margin: 5px;
}

/* ExampleProfile */
.lower {
  background-color: #ddeeff;
  width: 505px;
  height: 170px;
  border-radius: 100px;
  border: 1px solid #707070;
  margin: 20px;
}

.upper {
  background-color: #ddffed;
  width: 505px;
  height: 170px;
  border-radius: 100px;
  border: 1px solid #707070;
  margin: 20px;
}

.name {
  position: relative;
  width: 200px;
  top: -175px;
  left: 250px;
  padding: 5px;
  padding-top: 5px;
  font-size: 24px;
}
.name.carina {
  left: 240px;
}

.about {
  position: relative;
  top: -165px;
  left: 170px;
  text-align: left;
  width: 305px;
}

.about.dan {
  position: relative;
  top: -178px;
  left: 170px;
  text-align: left;
  width: 305px;
}

.circular-pic {
  position: relative;
  left: -11px;
  width: 170px;
  height: 170px;
  background-color: blue;
  border-radius: 100px;
}
