/* CreateProfile */
/* EditProfile */
.category-button {
  margin: 5px;
}

/* ExampleProfile */
.outer {
  background-color: yellow;
  width: 400px;
  height: 154px;
  border-radius: 100px;
  border: 2px solid #777777bb;
  margin: 20px;
}

.name {
  position: relative;
  width: 200px;
  top: -161px;
  left: 210px;
  padding: 5px;
  padding-top: 10px;
  font-size: 24px;
}
.name.carina {
  left: 188px;
}

.about {
  position: relative;
  top: -165px;
  left: 160px;
  text-align: center;
  width: 200px;
}

.circular-pic {
  position: relative;
  left: -9px;
  top: -5px;
  width: 160px;
  height: 160px;
  background-color: blue;
  border-radius: 100px;
}
.circular-pic.carina {
  left: -11px;
}