#landing-mobile {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
}

#landing-mobile .top {
  padding: 16vh 11vw 10vh 11vw;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/background_mobile.svg");
  background-repeat: no-repeat;
  background-size: 145%;
  background-position: 50% 20%;
  color: white;
}
#landing-mobile .top .big-text {
  font-family: "Alatsi";
  font-weight: bold;
  /* font-size: 3.5rem; */
  font-size: 7vh;
  margin: 5vh 2vw 3vh 1vw;
  line-height: 8.5vh;
}

#landing-mobile .top .small-text {
  font-size: 3vh;
  margin-left: 1vw;
  margin-bottom: 8vh;
  font-family: "Alatsi";
}

#landing-mobile .top .sign-up-button {
  border-radius: 10px;
  box-shadow: 0px 5px 5px #00000055;
  padding-top: 1vh;
  padding-bottom: 1.5vh;
  height: 6.5vh;
  width: 30vw;
  font-size: 3vh;
  text-align: center;
  text-decoration: none;
  /* font-weight: bold;  */
  font-family: "Alatsi";
  color: #ffffff;
  background-color: #38d8ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d8ff),
    to(#036ffc)
  );
  background-image: -webkit-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -moz-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -ms-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -o-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: linear-gradient(to right, #38d8ff, #036ffc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#38d8ff, endColorstr=#036FFC);
}

#landing-mobile .middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  padding: 10vh 15vw 5vh 15vw;
  background-color: #f5f5f5;
}

#landing-mobile .middle .title {
  font-family: "Alatsi";
  font-size: 5vh;
  color: #128ae6;
  font-weight: 700;
  margin-bottom: 5vh;
}

#landing-mobile .middle .text {
  margin-bottom: 4vh;
  font-size: 3vh;
  font-family: "Roboto";
}
#landing-mobile .middle .card-profile {
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 7px 10px #00000029;
  margin: 8vh 0 5vh 0;
  padding-bottom: 2.5vh;
}
#landing-mobile .middle .card-profile .card-pic {
  border-radius: 20px;
  width: 100%;
}
#landing-mobile .middle .card-profile .text {
  border-radius: 0;
  padding: 2.25vh 2.25vh 2vh;
  text-align: center;
  margin: 0;
}
#landing-mobile .middle .card-profile .name {
  font-family: "Alatsi";
  font-size: 5vh;
  text-align: center;
  font-weight: 700;
  color: #128ae6;
}

#landing-mobile .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100vw;
  padding: 3vh 15vw 10vh 15vw;
  background-color: #f5f5f5;
}
#landing-mobile .bottom .transition {
  font-family: "Alatsi";
  font-size: 5vh;
  font-weight: 700;
  line-height: 7vh;
  color: #128ae6;
  margin-bottom: 3vh;
}
#landing-mobile .bottom .card-background {
  margin: 2vh 0px;
  padding: 3vh 2vh;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #00000022;
  background-color: white;
}
#landing-mobile .bottom .card-possibility {
  background-image: -webkit-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #38d8ff, #036ffc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3vh;
  font-weight: bold;
}
#landing-mobile #footer-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  /* height: 61vh; */
  height: auto;
  padding: 5vh 10vw;
  /* background-color: #f5f5f5; */
  background: white;
  margin: 0 10vw 10vh;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #00000022;
  background-color: white;
}
#landing-mobile #footer-mobile .thirty {
  font-size: 4vh;
  font-weight: bold;
  padding-bottom: 4vh;
  font-family: "Alatsi";
}
#landing-mobile #footer-mobile .login-stuff {
  width: 100%;
  align-items: center;
  text-align: center;
}
#landing-mobile #footer-mobile .field {
  font-size: 2.4vh;
}
#landing-mobile #footer-mobile .sign-up-button {
  margin: 2vh 0 4vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #00000055;
  /* padding-top: 2vh; */
  width: 35vw;
  height: 8vh;
  text-decoration: none;
  font-size: 3.25vh;
  font-family: "Alatsi";
  /* font-weight: bold; */
  color: #ffffff;
  background-color: #38d8ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d8ff),
    to(#036ffc)
  );
  background-image: -webkit-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -moz-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -ms-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -o-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: linear-gradient(to right, #38d8ff, #036ffc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#38d8ff, endColorstr=#036FFC);
}
#landing-mobile #footer-mobile .already {
  /* margin-bottom: 10vh; */
  font-family: "Alatsi";
  font-size: 2.25vh;
}
#landing-mobile .questions {
  font-family: "Alatsi";
  background: #f5f5f5;
  text-align: center;
  font-size: 2.75vh;
  font-weight: 300;
  padding: 0 15vw 4vh;
}

.colorful {
  background-image: -webkit-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #00bbe8, #036ffc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.alatsi {
  font-family: "Alatsi";
}
