.bigger-top-container {
  display: flex;
  margin: 175px 140px !important;
  max-width: none !important;
  justify-content: center !important;
}

.left-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 5px solid #44444499; */
  width: 60%;
}
.left-container > h3 {
  margin: 5px;
  font-size: 28px;
  font-weight: 100;
}
.left-container > h3:last-of-type {
  margin-bottom: 20px;
}

.right-container {
  border: 5px solid #44444499;
  padding: 40px;
  min-width: 200px;
  width: 400px;
}

.register.title {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}

.landing {
  position: relative;
  /* background: url("./img/landing_background.jpg") no-repeat center center/cover; */
  height: 100vh;
}
.landing .chunk {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing .light.yellow {
  background: #fff7e7;
}
.landing .dark.yellow {
  background: #fff0d2;
}

.landing h1 {
  font-size: 3rem;
  padding-bottom: 0rem;
}
.landing p {
  font-size: 1.5rem !important;
  margin-top: 3rem;
}
.landing img {
  /* max-width: 65%; */
  margin: 0.5rem;
}

/* First section */
h1 {
  margin-top: 6rem;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.available {
  font-size: 1rem;
  font-weight: 700;
}

.stanford {
  position: relative;
  margin: 0px;
  height: 25%;
  width: 25%;
}
.princeton {
  position: relative;
  top: -7px;
  width: 25%;
  height: 25%;
}

/* Second section */
#howitworks h1 {
  margin-bottom: 3rem;
  font-size: 3rem;
}
#howitworks .grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: minmax(7rem, auto);
  grid-gap: 0rem;
  align-items: center;
  justify-items: start;
  justify-content: start !important;
}
#howitworks p {
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.howitworks-table {
  justify-items: center !important;
}
.svg-rocket {
  max-height: 130px;
  min-height: 130px;
}
.svg-calendar {
  max-width: 200px;
  min-width: 200px;
}
.svg-people {
  max-width: 165px;
  min-width: 165px;
}

/* Third section */
#faq h1 {
  position: relative;
  font-size: 2rem !important;
  padding: 1rem;
  right: 500px;
  top: 300px;
}
#faq h2 {
  font-size: 1.5rem !important;
  padding: 1rem;
}
#faq p {
  margin-bottom: 4rem;
}
.question {
  font-style: italic;
}
