#landing-mobile {
  display: flex;
  flex-direction: column;
}

#landing-mobile .top {
  padding: 16vh 11vw 10vh 11vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../../img/background_mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
}
#landing-mobile .top .big-text {
  font-family: "Alatsi";
  font-size: 2.75rem;
  margin: 7vh 0 5vh 0;
  line-height: 3.25rem;
}

#landing-mobile .top .small-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#landing-mobile .top .sign-up-button {
  border-radius: 10px;
  box-shadow: 0px 5px 5px #00000055;
  /* font-size:12px; */
  padding: 0.25rem 0rem 0.25rem 1rem;
  width: 6rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  background-color: #38d8ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d8ff),
    to(#036ffc)
  );
  background-image: -webkit-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -moz-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -ms-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -o-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: linear-gradient(to right, #38d8ff, #036ffc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#38d8ff, endColorstr=#036FFC);
}

#landing-mobile .middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  padding: 10vh 15vw 5vh 15vw;
  background-color: #f5f5f5;
}
#landing-mobile .middle .text {
  margin-bottom: 30px;
  font-size: 1.25rem;
}
#landing-mobile .middle .card-profile {
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 7px 10px #00000029;
  margin: 5vh 0 5vh 0;
  padding-bottom: 25px;
}
#landing-mobile .middle .card-profile .card-pic {
  border-radius: 20px;
  width: 100%;
}
#landing-mobile .middle .card-profile .text {
  border-radius: 0;
  padding: 20px 20px 15px 20px;
  text-align: center;
  margin: 0;
}
#landing-mobile .middle .card-profile .name {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  color: #128ae6;
}

#landing-mobile .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100vw;
  padding: 3vh 15vw 10vh 15vw;
  background-color: #f5f5f5;
}
#landing-mobile .bottom .transition {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.75rem;
  color: #128ae6;
  margin-bottom: 5vh;
}
#landing-mobile .bottom .card-background {
  margin: 10px 0px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #00000022;
  background-color: white;
}
#landing-mobile .bottom .card-possibility {
  background-image: -webkit-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    to right,
    #38d8ff,
    #036ffc
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #38d8ff, #036ffc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1.25rem;
  font-weight: bold;
}
#landing-mobile .bottom .sign-up-button {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 5px 5px #00000055;
  padding: 10px 20px 10px 20px;
  width: 50vw;
  height: 10vh;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #38d8ff;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#38d8ff),
    to(#036ffc)
  );
  background-image: -webkit-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -moz-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -ms-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: -o-linear-gradient(to right, #38d8ff, #036ffc);
  background-image: linear-gradient(to right, #38d8ff, #036ffc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#38d8ff, endColorstr=#036FFC);
}
#landing-mobile .bottom .questions {
  font-size: 1.5rem;
  font-weight: 1000;
}
#landing-mobile .bottom .contact-us {
  margin-top: 2.5vh;
  color: #128ae6;
}

.colorful {
  background-image: -webkit-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For Chrome and Safari */
  background-image: -moz-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For old Fx (3.6 to 15) */
  background-image: -ms-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For pre-releases of IE 10*/
  background-image: -o-linear-gradient(
    to right,
    #00bbe8,
    #036ffc
  ); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, #00bbe8, #036ffc);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
