/* For mobile phones */
@media only screen and (max-width: 768px) {

  /* First section */
  #section1 {
    text-align: center;
    padding-top: 17vh;
    padding-bottom: 5vh;
  }
  #section1 h3 {
    margin: 5vw;
  }

  /* Second section */
  #howitworks {
    height: 100vh;
    text-align: center;
    padding-top: 10vh;
  }
  #howitworks img {
    max-width: 90vw;
    margin: 5vw;
  }
  #howitworks p {
    text-align: center;
    margin: 0vw 5vw 20vw;
  }
}

/* For desktop */
@media only screen and (min-width: 768px) {
  .landing {
    position: relative;
    /* background: url("./img/landing_background.jpg") no-repeat center center/cover; */
    height: 100vh;
  }
  .landing .chunk {
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .landing .dark.yellow {
    background: #fff0d2;
    height: 65vh;
  }

  /* First section */
  #section1 {
    background-image: url("../../img/triangle1.svg");
    background-repeat: no-repeat;

    background-size: 400%;
    background-position: 90% 19%;
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    /* padding-top: 15vh !important; */
    padding-bottom: 0;
    padding-top: 0;
  }

  /* Second section */
  #howitworks {
    background-image: url("../../img/section2_background.svg");
    background-repeat: no-repeat;

    background-size: 100%;
    background-position: 50%;
    /* background-color: #f6f6f6; */
    padding: 2rem;
    padding-top: 10vh;
  }

  #howitworks h1 {
    position: relative;
    padding: 1rem;
    margin-left: 7rem;
    font-size: 2.2rem;
    text-align: center;
  }

  .steps {
    margin: 3rem 2rem;
    display: flex;
    align-items: center;
  }

  .select_interests {
    margin-left: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
    width: 43rem;
    float: left;
  }

  .select_time {
    margin-left: 2rem;
    margin-right: 1rem;
    vertical-align: middle;
    width: 43rem;
  }

  #howitworks p {
    position: relative;
    /* background-color: white; */
    font-size: 1.4rem;
    margin: 0rem 0.5rem;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: auto;
  }

  .svg-people {
    max-width: 15rem;
    min-width: 15rem;
    margin-left: 2rem;
    margin-right: 2.5rem;
    vertical-align: middle;
  }

  /* Third section */
  #faq .title {
    position: relative;
    padding-top: 60%;
    padding-left: 65%;
    font-size: 2.2rem;
  }

  #faq .question {
    position: relative;
    font-size: 1.3rem !important;
    font-style: italic;
    text-align: left;
    margin: auto;
  }

  #faq .answer {
    position: relative;
    font-size: 1.05rem;
    text-align: left;
    padding-bottom: 2%;
  }

  #faq .grid {
    display: grid;
    grid-template-columns: 16% 67%;
    grid-auto-rows: minmax(7rem, auto);
    grid-gap: 13%;
    justify-items: start;
    justify-content: start !important;
  }
}
