.landing {
  position: relative;
  /* background: url("./img/landing_background.jpg") no-repeat center center/cover; */
  height: 100vh;
}
.landing .chunk {
  height: 100%;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing .light.yellow {
  background: #fff7e7;
}
.landing .dark.yellow {
  background: #fff0d2;
}

.landing h1 {
  font-size: 3rem;
  padding-bottom: 0rem;
}
.landing p {
  font-size: 1.5rem !important;
  margin-top: 3rem;
}
.landing img {
  /* max-width: 65%; */
  margin: 0.5rem;
}

/* First section */
h1 {
  margin-top: 6rem;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.available {
  font-size: 1rem;
  font-weight: 700;
}
.available {
  text-align: center;
}
.stanford {
  position: relative;
  margin: 0px;
  height: 25%;
  width: 25%;
}
.princeton {
  position: relative;
  top: -7px;
  width: 25%;
  height: 25%;
}
/* doesn't render for some reason */
.already {
  font-size: 1rem;
}

/* Second section */
#howitworks h1 {
  position: relative;
  padding: 1rem;
  margin-left: 7rem;
  font-size: 2.5rem;
}
#howitworks .grid {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-auto-rows: minmax(7rem, auto);
  grid-gap: 0rem;
  align-items: center;
  justify-items: start;
  justify-content: start !important;
}
#howitworks p {
  position: relative;
  margin-left: -50px;
  background-color: #ffffff;
  font-size: 1rem;
  border-radius: 20px;
}
.howitworks-table {
  justify-items: center !important;
}
.svg-rocket {
  max-height: 70px;
  min-height: 70px;
}
.svg-calendar {
  max-width: 120px;
  min-width: 120px;
}
.svg-people {
  max-width: 120px;
  min-width: 120px;
}

/* Third section */
#faq h2 {
  font-size: 1.5rem !important;
  padding: 5rem;
}

#faq h1 {
  position: relative;
  padding: 1rem;
  margin-left: 7rem;
  font-size: 2.5rem;
}
#faq .grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-auto-rows: minmax(7rem, auto);
  grid-gap: 0rem;
  align-items: center;
  justify-items: start;
  justify-content: start !important;
}
#faq p {
  margin-left: 15rem;
  padding-left: 0rem;
  font-size: 2rem;
}
.faq-table {
  justify-items: center !important;
  width: 20rem;
}

.question {
  font-style: italic;
  padding-left: 3rem;
  margin-left: 20rem;
  margin-right: 10rem;
}
