/* Third section */
#faq h1 {
  position: relative;
  font-size: 2rem !important;
  margin-top: 50%;
}

#faq h2 {
  font-size: 1.5rem !important;
  font-style: italic;
}

#faq .answer {
  position: relative;
  margin-left: -50px;
  font-size: 1.25rem;
}

.question {
  font-style: italic;
}
