.feedback {
  height: 100%;
  width: 100%;
  padding: 10% 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
}

.receiver-feedback {
  display: flex;
  flex-direction: row;
  margin: 1% 10%;
  justify-content: space-around;
  align-items: top;
}
.receiver-feedback .member {
  font-size: 1.1rem;
  margin: 1%;
  font-weight: 700;
  width: 100%;
}

.receiver-feedback .binary {
  font-size: 1rem;
  margin: 0.25rem 0.5rem;
  text-align: center;
  padding: 0rem 3rem;
  min-width: 22rem;
  max-width: 22rem;
}

.receiver-feedback .superlike {
  margin: 0.25rem 0.5rem 1.75rem 0.5rem;
  padding: 0rem 3rem;
  min-width: 17rem;
  max-width: 17rem;
}

.info {
  /* display: inline-block; */
  height: 100%;
  min-width: 17rem;
  max-width: 17rem;
  text-align: center;
}
#question-one {
  padding-top: 5%;
}

.avatar {
  margin-bottom: 0rem;
}

#feedback-intro {
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0px 3px 2px #00000055;
  border-radius: 1rem;
}

.general-feedback {
  margin: 5% 0 2%;
  text-align: center;
}
.general-feedback-text {
  margin: 0;
}
.general-feedback-input {
  margin: 2% 2%;
  width: 96%;
  padding: 1%;
  border: 1px solid black;
}