.feedback {
  margin: 0px;
  height: 100vh;
  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.receiver-feedback {
  display: flex;
  flex-direction: row;
  margin: 24px;
  justify-content: center;
  align-items: center;
}
.receiver-feedback .member {
  font-size: 18px;
  margin: 20px;
}
.receiver-feedback .rating {
  font-size: 36px;
  margin: 20px;
}
.receiver-feedback .binary {
  font-size: 20px;
  margin: 20px;
}