.activities-container {
  /* padding: 0rem 12rem 0rem 12rem; */
  height: 100vh;
  background: rgb(238, 247, 255);
  text-align: center;
}

.activities-selector {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
.activities-selector img {
  padding: 10%;
  height: 80%;
  width: 80%;
  background-color: #00000000;
  transition: 0.25s ease-in-out;
  border-radius: 7%;
}
.activities-selector input {
  opacity: 0;
  position: absolute;
  left: -100vw;
}
:checked ~ label img {
  background-color: #bcdaf6;
  transition: 0.25s ease-in-out;
  border-radius: 7%;
}
.activity-label {
  font-size: 2rem;
}
.activity-card {
  width: 33%;
  height: 50vh;
}
.activities-header {
  font-size: 3rem;
}
.activities-info {
  font-size: 1.25rem;
}
.activity-image {
  cursor: pointer;
}

/* Mobile only */
@media only screen and (max-width: 768px) {
  .activities-header {
    margin-top: 5vh !important;
  }
  .activities-selector {
    flex-direction: column;
  }
  .activity-card {
    width: 100%;
    height: 50vh;
  }
}

