#search-page {
  float: left;
}

#search-page .left {
  float: left;
  width: 30%;
  padding-right: 3rem;
  margin-right: 3rem;
}

#search-page .right {
  width: 95%;
}

#search-page .search-categories {
  width: 95%;
  /* flex-direction: column; */
  margin: 7rem 5rem 5rem 5rem;
  border-radius: 10px;
}

#search-page .results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 7rem 0rem 0rem 2rem;
}

#search-page .results .result-person .avatar {
  margin: 0 1.75rem 0 0.75rem;
  padding: 0;
  min-width: 5rem;
  max-width: 5rem;
  min-height: 5rem;
  max-height: 5rem;
}

#search-page .results .result-person {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #aaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.75rem 0 0.75rem 0;
  padding: 1rem 0 1rem 0;
  cursor: pointer;
}

#search-page .results .result-person .name {
  font-size: 1.5rem;
  margin-right: 1.75rem;
  margin-left: 1rem;
}

#search-page .results .result-person .categories {
  /* width: auto; */
  margin-right: 2rem;
}

#search-page .results .result-person .likes {
  /* width: 50%; */
  margin-right: 0.5rem;
  min-width: 10rem;
  max-width: 10rem;
  color: black;
}

#search-page .results .result-person .profile-categories {
  background: #c8e3ff;
  float: left;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0 0.25rem 0 0.25rem;
  margin: 0.25rem;
}
#search-page .results .avatar-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
}
#search-page .results .categories-likes {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  #search-page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    float: none;
  }
  #search-page .left {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    padding: 0 5vw;
  }
  #search-page .left .search-categories {
    margin: 8rem 0 0;
  }
  #search-page .right {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
  }
  #search-page .right .results {
    margin: 5vw;
    width: 90vw;
  }
  #search-page .right .result-person {
    flex-direction: row;
  }  
  #search-page .results .avatar-name {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px; 
  }
  #search-page .results .categories-likes {
    flex-direction: column;
  }
}
